@import "../../App.css";

 .link {
  color: white ;
  text-decoration: none ;
  font-size: 13px;
  transition: 0.3s ;
  
  
}
.logo{
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
}





.menu div{
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 8px;
}


link:hover{
  opacity: 0.7;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--vinho);
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
}

.navlist--show {
    display: flex !important;
    opacity: 1;
    transform: translateY(0);
  }
  
  .navlist--hide {
    opacity: 0;
    transform: translateY(-20%);
    display: none !important;
  }

  .navlist li :hover{
    background: rgb(255, 255, 255, 0.3);
    
  }

 .linklogin {
  text-decoration: none;
  color: white;
 }
  


.navlist {
    list-style:none;
    display: none;
    transition: all 0.3s ease-out;
}

.navlist li {
    letter-spacing: 4px;
    margin-left: 10px;
    cursor: pointer;
}

@media(max-width: 700px){
  .navlist{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 30vh;
    height: 30vh;
    background: var(--vinho);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
    
    
  }

 
  
  .bars{
    
    color: white;
    width: 30px;
    cursor: pointer;
  }
  
}

@media (min-width: 700px) {
 .bars{
        display: none;
    }
.navlist {
        display: flex;
      }
 .navlist--mobile {
        display: none;
      }
    
}